.forms-studio {
  position:relativeg;
  padding-bottom: 56.25%;
  overflow:hidden;
  width:100%;
  height:600px;
}

.forms-studio iframe {
  position:absoluteg;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:0;
}

.pool_footer {
  text-align: center;
  font-size: 90%;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.pool_header {
  text-align: center;
  font-size: 80%;
  position: fixed !important;
  bottom: 0;
  width: 100%;
  padding: 25px;
}

.pool_color {
  background-color: white;
}

.disclaimer {
  display: none !important;
}
