.forms-studio {
  margin-top: 1.5rem;
}

.pool_footer {
  text-align: center;
  font-size: 80%;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.pool_header {
  text-align: center;
  font-size: 80%;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 25px;
}

.pool_color {
  background-color: white;
}

#ff-submit-root {
  background-color: #031F49;
  outline-color: #031F49;
}
